<!DOCTYPE html>
<html>
  <head>
    <title>ShoplineCart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">My Shopline</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><a><%= current_user.email %></a></li>
                <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                <li><%= link_to('登入', new_session_path(:user)) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="alert alert-success" role="alert"><%= notice %></div>
      <div class="alert alert-warning" role="alert"><%= alert %></div>
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript">
    if ($('.alert-success').text()) {
      $('.alert-success').show();
    } else {
      $('.alert-success').hide();
    }
    if ($('.alert-warning').text()) {
      $('.alert-warning').show();
    } else {
      $('.alert-warning').hide();
    }
  </script>
</html>
